
@font-face {
  font-family: Iran-Sanse;
  src: url("../public/fonts/FontsFree-Net-ir_sans.ttf");
}


html,body{
  scroll-behavior: smooth;
}

:root > *{
  font-family: Iran-Sanse;
}

:root > body{
  background-color: lightgray;
}

.next,.prev{
  position: fixed;
  color: rgb(97, 97, 97);
  font-weight: bolder;
  background-color: rgb(233, 233, 233);
  font-size: 22px;
  transition: transform ease 0.3s; 
}

.next{
  padding: 20px;
  left: 0;
  top: 50%;
  border-radius: 0 10px 10px 0;
}

.prev{
  padding: 20px;
  right: 0;
  top: 50%;
  border-radius: 10px 0  0 10px;
}

.prev:hover{
  transform: scale(1.1);
  background-color: rgb(215, 217, 219);
  color: #000;
}

.next:hover{
  transform: scale(1.1);
  background-color: rgb(215, 217, 219);
  color: #000;
}

a.btn-link{
  text-decoration: none;
  color: lightslategray;
  font-weight: bold;
  transition: all ease 1s;
}

a.btn-link:hover{
  color: rgb(3, 152, 201);
}

a.btn-primary{
  width: 100%;
  border-radius: 20px;
}

.btn-faverate,.text-faverate{
  color: rgb(209, 209, 209);
  transition: transform ease 0.5s;
  cursor: pointer;
}
.btn-faverate:hover > *{
  transform: scale(1.1);
  color: goldenrod;
}


p.lead{
  font-size: 14px;
}


.card{
  border: none;
}

.card .card-header img{
  transition: transform ease 0.3s;
  cursor: pointer;
}

.card:hover .card-header img{
   transform: scale(1.3);
}