
@font-face {
  font-family: Iran-Sanse;
  src: url("../public/fonts/FontsFree-Net-ir_sans.ttf");
}

:root > *{
  font-family: Iran-Sanse;
}

:root > body{
  background-color: lightgray;
}

a.btn-link{
  text-decoration: none;
  color: lightslategray;
  font-weight: bold;
  transition: all ease 1s;
}

a.btn-link:hover{
  color: rgb(3, 152, 201);
}

p.lead{
  font-size: 14px;
}

.card .card-header img{
  transition: transform ease 0.3s;
  cursor: pointer;
}

.card:hover .card-header img{
   transform: scale(1.1);
}